---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.posts.size > 0 -%}
<ul class="posts">
  <li>
    <h1 id="posts-label">archive</h1>
  </li>

  {%- for post in site.posts -%}
  <li>
    {%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
    <a class="post-link" href="{{ post.url | relative_url }}">
      <h2 class="post-title">{{ post.title | escape }}</h2>
    </a>
    <div class="post-meta">
      <ul class="post-categories">
        {%- for tag in post.categories -%}
        <li>{{ tag }}</li>
        {%- endfor -%}
      </ul>
      <div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
    </div>
    <div class="post">
      <p><img src="{{ post.excerpt_image | relative_url }}" alt="{{ post.title | escape }}" class="center-cropped"></p>
      {%- if site.show_excerpts -%}
      {{ post.excerpt }}
      {%- endif -%}
      <p><a href="{{ post.url | relative_url }}">Read More &#8943;</a></p>
    </div>
  </li>
  {%- endfor -%}
</ul>
{%- endif -%}
